body{
    background-color : #041C32;
    margin: 0;
    background-image: url('./home-background.jpg');
    background-size: cover;
}

.top-bar{
    background-color: #064663;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;


}

#game-anchor{
    color: white;
    text-decoration: none;
    font-size: 40px ;
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    

}
.middle-container{
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

}

#mhix-span{
    color: white;
    font-size: 60px;
    margin-top: 200px;
    display: block;

}

#mhix-introduction-span{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    display: block;


}
#insta-icon{
    width: 60px;
    height: 60px;
    

}
#youtube-icon{
    width: 80px;
    height: 60px;

}
#social-media{
    margin-top: 15px;

}

#discord-server{
    text-decoration: none;
    color: white;
    font-size: 30px;

}
#community{
    margin-top: 30px;


}

.drawer{
    height: 100vh;
    width: 200px;
    background-color: #064663;
    position: absolute;
    left: 0;
    top: 0;

}


.comment-side{
    background-color: white;
    height: 400px;
    width: 100%;
    display: block;
    margin-top: 125px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;


}

#guest-icon{
    height: 60px;
    width: 60px;
    left: 40%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 20px;

}

#comment-input{
    height: 50px;
    width: 400px;
    font-size: 20px;
    margin-left: 750px;
    margin-top: 25px;
    position: absolute;


}

#submit-button{
    height: 50px;
    width: 150px;
    background-color: #dbaf73;
    position: absolute;
    font-size: 20px;   
    color: white;
    margin-top: 25px;
    margin-left: 1170px;

}