
* {
    box-sizing: border-box;
}
body{
    background-color : #041C32;
    margin: 0;
    background-image: url('./home-background.jpg');
    background-size: contain;
    /* min-width: fit-content; */
}

.top-bar{
    background-color: #064663;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;


}

#game-anchor{
    color: white;
    text-decoration: none;
    font-size: 40px ;
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    

}
.middle-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mhix-span{
    color: cornflowerblue;
    font-size: 60px;
    display: block;
    

}

#mhix-introduction-span{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    display: block;
    width: 500px;


}
#insta-icon{
    width: 60px;
    height: 60px;
    

}
#youtube-icon{
    width: 80px;
    height: 60px;

}
#social-media{
    margin-top: 15px;
    display: flex;

}

#discord-server{
    text-decoration: none;
    color: white;
    font-size: 30px;

}
#community{
    margin-top: 30px;


}

.drawer{
    height: 100vh;
    width: 200px;
    background-color: #064663;
    position: absolute;
    left: 0;
    top: 0;

}


.comment-side{
    background-color: white;
    width: 100%;
    display: flex;
    margin-top: 360px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    flex-direction: column;
    align-items: center;


}

#guest-icon{
    height: 60px;

}


#comment-input{
    height: 50px;
    flex: 1;
    font-size: 20px;
    padding-left: 10px;
    border: solid black 1px;

}



/* button dimension */

.button--small{
    height: 0
}

.button--medium{
    height: 50px;
    font-size: 20px;  
}
.button--big{
    height: 0;

}

/* -- */


/* button theme */
.button--orange{
    background-color: #dbaf73;
    color:white;

}

/* -- */


#comment-section{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    margin-top: 60px;
    

}

.comment-side-input{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0 4px;
    max-width: 700px;
    
}


.test-flex-children {
    flex: 1;
    height: 500px;
    background-color: green;
}

.comment-view{
    background-color:transparent;
    border: 2px solid #b1bfcb;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
    
    


}

#comment-content{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
    


}

#comment-time{
    font-size: 15px;   
    text-align: right;
    margin-bottom: 100px;


}

#comment-user{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(124, 191, 236);



}

@media only screen and (max-width: 768px)   {
        #mhix-span{
            color: cornflowerblue;
            font-size: 40px;
            margin-top: 200px;   

        }
        #mhix-introduction-span{
            font-size: 15px;
            margin-left: 20px;
            width: 300px;
            margin-top: 20px;

        }
        #game-anchor{
            font-size: 20px;

        }
        #discord-server{
            font-size: 22px;
        }
        #insta-icon{
            width: 37px;
            height: 37px;
        }
        #youtube-icon{
            width: 55px;
            height: 40px;
        }
        #community{
            margin-top: 24px;
        }
        #comment-input{
            height: 44px;

        }
        .button--medium{
            height: 50px;
            flex: 1;
            font-size: 15px;  
        }
        #social-media{
            margin-top: 30px;
        }
        #community{
            padding-left: 40px;

        }
        #guest-icon{


        }

        #comment-input{
            font-size: 16px;

        }
        #comment-section{
            margin: 0;
        }
        .comment-side-input{
            gap: 6px;
        }
        .comment-view{
            width: 100%;
        }
        .comment-side{
        
            margin-top: 200px;
            
        
        
        }

}