body{
    background-color : #041C32;
    margin: 0;

}

.top-bar{
    background-color: #064663;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

#game-anchor{
    color: white;
    text-decoration: none;
    font-size: 40px ;
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    

}
.middle-container{
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

}

#mhix-span{
    color: white;
    font-size: 60px;
    margin-top: 200px;
    display: block;

}

#mhix-introduction-span{
    color: white;
    font-size: 20px;
    margin-top: 300px;
    display: block;


}
#insta-icon{
    width: 60px;
    height: 60px;
    

}
#youtube-icon{
    width: 80px;
    height: 60px;

}